body {
  background-color: #1F2739;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #FFF;
}

.list {
  width: 480px;
}

.red {
  background-color: #CA0000;
}

.green {
  background-color: #20850C;
}

.channel {
  font-size: 16px;
}

.channel-description {
  font-size: 12px;
  padding-right: 40px;
}
